{% extends "core/base.html" %}

{% block title %}
    Welcome
{% endblock title %}
        
{% block content %}
    <div class="flex flex-wrap">
        {% for product in products  %}
        <div class="product w-1/3 p-2">
            <div class="p-4 bg-gray-200">
                <h2 class="text-xl">{{ product.title }}</h2>
                <p class="text-sm text-gray-600">${{ product.price|floatformat:2 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}