{% extends "core/base.html" %}

{% block title %}
    Log in
{% endblock title %}

{% block content %}
    <h1 class="text-2xl">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_username" class="block">Username</label>
            {{ form.username }}  <!-- username 필드 -->
            {{ form.username.errors }}
        </div>

        <div class="mb-4">
            <label for="id_password" class="block">Password</label>
            {{ form.password }}  <!-- password 필드 -->
            {{ form.password.errors }}
        </div>

        <button class="py-4 px-8 bg-teal-800 text-white">Log in</button>
    </form>
{% endblock content %}