{% extends "core/base.html" %}
{% load custom_filters %}

{% block title %}
    My account
{% endblock title %}

{% block content %}
    <h1 class="text-2xl">My account</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="mt-6 inline-block py-4 px-8 bg-red-400 text-white">Log out</button>
    </form>

    <!-- 사용자 정보 표시 -->
    <div class="mt-6">
        <h2 class="text-xl">User Information</h2>

        {% if request.user.first_name or request.user.last_name or request.user.email %}
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
        {% else %}
            <p class="text-red-500">Update your information</p>
        {% endif %}
        
        <!-- Update User Info 버튼 추가 -->
        <a href="{% url 'profile_update' %}" class="mt-4 inline-block py-2 px-4 bg-teal-500 text-white rounded">
            Update User Info
        </a>

        <a href="{% url 'password_change' %}" class="mt-4 inline-block py-2 px-4 bg-green-500 text-white rounded">
            Change Password
        </a>
    </div>
    <h1 class="mt-6 mb-6 text-2xl">My order list</h1>

    {% if grouped_order_items %}
        
    {% for order_id, items in grouped_items %}
        <h2 class="mb-3 text-xl">Order number: {{ order_id }} - Status: {{ order_statuses|get_item:order_id }}</h2> <!-- 주문 상태 출력 -->

        <div class="flex flex-wrap">
            <div class="w-1/4">
                <strong>Product name</strong>
            </div>
            <div class="w-1/4">
                <strong>Quantity</strong>
            </div>
            <div class="w-1/4">
                <strong>Unit price</strong>
            </div>
        </div>

        {% for item in items %}
            <div class="flex flex-wrap">
                <div class="w-1/4">
                    {{ item.product.product_name }}
                </div>
                <div class="w-1/4">
                    {{ item.quantity }}
                </div>
                <div class="w-1/4">
                    ${{ item.price }}
                </div>
            </div>
        {% endfor %}
    
        <div class="flex flex-wrap mt-2">
            <div class="w-1/4 font-bold">
                Total price:
            </div>
            <div class="w-1/4">
                ${{ order_totals|get_item:order_id }} <!-- 커스텀 필터로 총합 가져오기 -->
            </div>
        </div>
        <hr class="mt-4 mb-4">
    {% endfor %}

    {% else %}
        <div class="px-6 py-6 bg-gray-300">
            You don't have any purchase record
        </div>
    {% endif %}
    
{% endblock content %}
