{% extends "core/base.html" %}
{% load custom_filters %}

{% block title %}
    Staff Page
{% endblock title %}

{% block content %}
    <h1 class="text-2xl">Staff Page</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2 class="mt-6 mb-3 text-xl">Order list</h2>
    
    <div class="flex flex-wrap">
        <div class="w-1/4">
            <strong>Order_id</strong>
        </div>
        <div class="w-1/4">
            <strong>Customer ID</strong>
        </div>
        <div class="w-1/4">
            <strong>Total</strong>
        </div>
        <div class="w-1/4">
            <strong>Status</strong>
        </div>
    </div>

    {% for order in orders %}
        <div class="flex flex-wrap">
            <div class="pt-4 w-1/4">
                <a href="{% url 'staff_page_order_detail' order.id %}">
                    {{ order.id }} <!-- 주문 ID 표시 -->
                </a>
            </div>
            <div class="pt-4 w-1/4">
                <!-- Customer ID 클릭 시 고객 정보로 이동 -->
                <a href="{% url 'customer_detail' order.created_by.id %}">
                    {{ order.created_by.username }} <!-- 주문한 고객의 이름 -->
                </a>
            </div>
                
            <div class="pt-4 w-1/4">
                {% with total=order_totals|get_item:order.id %}
                    ${{ total|floatformat:2 }}
                {% endwith %}
            </div>

            <div class="w-1/4">
                <form method="POST" action="{% url 'change_order_status' order.id %}">
                    {% csrf_token %}
                    <select name="status" class="py-2 px-4 border rounded">
                        <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>Pending</option>
                        <option value="approved" {% if order.status == 'approved' %}selected{% endif %}>Approved</option>
                        <option value="denied" {% if order.status == 'denied' %}selected{% endif %}>Denied</option>
                    </select>
                    <button type="submit" class="mt-2 ml-2 py-2 px-4 bg-teal-500 hover:bg-teal-700 text-white rounded">
                        Update
                    </button>
                </form>
            </div>
        </div>

        <!-- 해당 주문에 속하는 주문 항목들 출력 -->
        {% for order_item in order.orderitem_set.all %}
            <div class="flex flex-wrap ml-8">
                <div class="w-1/3">
                    {{ order_item.product.product_name }} <!-- 제품 이름 -->
                </div>
                <div class="w-1/3">
                    {{ order_item.quantity }} <!-- 수량 -->
                </div>
                <div class="w-1/3">
                    ${{ order_item.price|floatformat:2 }} <!-- 가격 -->
                </div>
            </div>
        {% endfor %}
    {% endfor %}


    <hr class="mt-4">

    <h2 class="mt-6 text-xl">Customer list</h2>
    <a href="{% url 'customer_list' %}" class="mt-6 mb-6 inline-block py-4 px-8 bg-teal-500 text-white">Click to view</a>

    <hr class="mt-4">

    <h2 class="mt-6 text-xl">Product list</h2>
    <a href="{% url "add_product" %}" class="mt-6 inline-block py-4 px-8 bg-teal-500 text-white">Add product</a>


    {% if products %}
        <div class="flex flex-wrap">
            {% for product in products %}
            <div class="product w-1/3 p-2">
                <div class="p-4 bg-gray-200">
                    <a href="{% url "edit_product" product.id %}">
                        {% if product.image %}
                            <div class="image mb-2">
                                <img src="{{ product.image.url }}" alt="Image of {{ product.product_name }}">
                            </div>
                        {% endif %}
                        <h2 class="text-xl">{{ product.product_name }}</h2>
                        <p class="text-sm text-gray-600">${{ product.price|floatformat:2 }}</p>
                            
                        <hr class="my-3">

                        <p><strong>Status: </strong>{{ product.get_status_display }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="mt-4 py-4 px-8 bg-gray-200">No added products</p>
    {% endif %}
{% endblock content %}